@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: 300;
    overflow-x: hidden;
}

/* Header */

.logo_holder {
    width: 100%;
    display: inline-block;
    position: relative;
}

.menu_holder {
    width: 100%;
    display: inline-block;
    position: relative;
    border: 1px, solid, green;
}

#logo {
    text-align: center;
    text-decoration: none;
    
}

#logo h1 {
    color: black;
    font-family: "Bodoni Moda", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: xx-large;
    margin-top: 4%;
}

#menu {
    position: relative;
    width: 100%;
    display: inline-block;
}

#menu li {
    position: relative;
    width: 32%;
    display: inline-block;
    text-align: center;
}

#menu li a {
    color: black;
    text-decoration: none;
}

#menu li a:hover {
    border-bottom: 1px solid black;
}

/* media quaries for header */

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #logo h1 {
        font-size: xx-large;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #logo h1 {
        font-size: xx-large;
    }

    #menu li a {
        font-size: larger;
    }

    .logo_holder {
        width: 40%;
    }

    .menu_holder {
        width: 59%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #logo h1 {
        font-size: xx-large;
    }

    #menu li a {
        font-size: x-large;
    }

    .logo_holder {
        width: 40%;
    }

    .menu_holder {
        width: 59%;
    }
}

@media only screen and (min-width: 1201px) {
    #logo h1 {
        font-size: xxx-large;
    }

    #menu li a {
        font-size: x-large;
    }

    .logo_holder {
        width: 40%;
    }

    .menu_holder {
        width: 59%;
    }
}

/* photos */

h2 {
    color: black;
    font-size: larger;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 4%;
}

.image_holder {
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 10px 0 10px 0;
}

.image_col {
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 5px 0 5% 0;
}

.image {
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: inline-block
}